<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Конструкторские отделы</h1>

    <ul>
        {% for department in departments %}
            <li>
                <a href="{% url 'constractors:constract_department_detail' department.pk %}">{{ department.name }}</a>
                {% if department.description %}
                    <p>{{ department.description|truncatewords:10 }}</p>
                {% endif %}
            </li>
        {% empty %}
            <li>Нет конструкторских отделов</li>
        {% endfor %}
    </ul>
</body>
</html>
