body {
    height: 100%;
}
.container_login{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_register {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-body-tertiary {
    background-color: white !important;
}
.align-items-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.carousel {
    margin-bottom: 90px;
}

.form-group {
    margin-bottom: 10px;
}
