{% extends "base.html" %}
{% load static %}
{% block title %}
Услуги
{% endblock %}
{% block body %}
<div class="container">
 <header class="border-bottom lh-1 py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="link-secondary" href="#">Subscribe</a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-body-emphasis text-decoration-none" href="#">Проектная организация</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="link-secondary" href="#" aria-label="Search">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
        </a>
        <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
      </div>
    </div>
  </header>
  <div class="nav-scroller py-1 mb-3 border-bottom">
    <nav class="nav nav-underline justify-content-between">
      <a class="nav-item nav-link link-body-emphasis active" href="{% url 'main_page:index' %}">Главная</a>
      <a class="nav-item nav-link link-body-emphasis" href="{% url 'main_page:about' %}">О нас</a>
      <a class="nav-item nav-link link-body-emphasis" href="#">Услуги</a>
      <a class="nav-item nav-link link-body-emphasis" href="#">Проекты</a>
      <a class="nav-item nav-link link-body-emphasis" href="{% url 'main_page:contacts' %}">Контакты</a>
      <a class="nav-item nav-link link-body-emphasis" href="{% url 'main_page:reviews' %}" >Отзывы</a>
    </nav>
  </div>
    <main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis">
    <div class="col-lg-6 px-0 avtomatiz">
      <h1 class="display-4 fst-italic">Автоматизация промышленных объектов</h1>
      <p class="lead my-3">При проектировании производственного объекта или принятии решения по автоматизации объекта, заказчик, чаще всего, имеет чёткое  представление про особенности технологического процесса и проблемы, связанные с «человеческим  фактором», которые планирует решить при помощи автоматизации. При этом, если заказчик не имеет достаточного опыта  автоматизации технологических процессов, он может склоняться к крайностям, которые сделают цену автоматизации неприемлемо высокой, или лишат автоматизацию эффективности, а именно:
«автоматизация без компромиссов» - заказчик пытается сделать свой объект полностью автоматическим, выдвигает завышенные требования к резервированию и надёжности автоматики, объёму информации и т.п. Требует устанавливать электронное и механическое оборудование самых известных мировых производителей. Такой подход вызывает чрезмерные затраты средств на автоматизацию, в связи с чем окупаемость такой автоматизации в разумные сроки становится сомнительной;
«затыкание дыр» - заказчик пытается решить установкой автоматики самые болезненные проблемы производства, при этом оставляя без внимания комплексные проблемы отсутствия автоматики. Такой подход приводит к низкой эффективности автоматизации, когда большое количество смежных систем, управляемых вручную, приводит к отсутствию ожидаемого эффекта от внедрения автоматики на критических производственных цепочках;
«много всего по низкой цене» - заказчик пытается использовать самые дешёвые средства автоматизации, чтоб получить полный контроль над технологическим процессом по  низкой цене. Чаще всего, низкая надёжность самого дешёвого оборудования приводит к тому, что систему автоматики больше ремонтируют, чем используют.

Имея опыт работы с электронным оборудованием различных производителей, наши специалисты в состоянии предложить оптимальные варианты контроллерного и другого оборудования, которые обеспечат необходимую надёжность и производительность системы по разумной цене.

Наша компания выполняет полный перечень монтажных и пусконаладочных работ. Контроль качества документации и производства, позволяет минимизировать сроки выполнения работ и свести к минимуму количество отказов оборудования во время эксплуатации системы автоматизации.

ООО «Институт горной электротехники и автоматизации» получил сертификат соответствия (СУ ОТ)  - система управления охраной труда, проектирования, производства машин и оборудования который соответствует СТБ 18001-2009.

К числу наиболее крупных проектов, реализованных для ОАО Беларуськалий» можно отнести:

модернизацию скиповой подъемной машины №1 ствола №4 рудника 1РУ-замена системы Г-Д на ТП-Д (разработка проектной и конструкторской документации, закупка и поставка оборудования, выполнение электромонтажных работ, выполнение пуско-наладочных работ);

ООО «Институт горной электротехники и автоматизации» в 2011 году  реализовало  первый в СНГ проект «Модернизация электропривода клетьевой подъемной установки рудника ЗРУ». Экономия электроэнергии при использовании частотного регулируемого электропривода составила 58%;

при модернизации электропривода ВГП рудника ЗРУ и рудника 1РУ впервые в качестве приводных электродвигателей были применены синхронные электродвигатели с постоянными магнитами и преобразователи частоты ROBICON. ООО «Институт горной электротехники и автоматизации» разработало микропроцессорную систему управления и программное обеспечение для проекта;

экономия электроэнергии при использовании нового электропривода составила 53%;

в 2011 году в содружестве с немецкой компанией Siemens AG ООО «Институт горной электротехники и автоматизации» разработало собственную высоковольтную ячейку с элегазовой изоляцией. В настоящее время в эксплуатации находится 703 ячейки;

ООО «Институт горной электротехники и автоматизации» провело модернизацию проходческих передвижных подъёмных установок для ОАО «Трест«Шахтоспецстрой». Эти установки используются при проходке стволов рудников. Электрооборудование машин было значительно изношено, морально устарело, влекло большие энергозатраты при проведении работ. ООО «Институт горной электротехники и автоматизации» выполнило следующие виды работ: полный демонтаж всего электрооборудования, изготовление, монтаж нового регулируемого электропривода с микропроцессорной системой управления, диагностика, ремонт и наладка механической части проходческих передвижных установок МПП-9 и МПП-17,5 которые успешно работают при проходке шахтных стволов на Петриковском ГОК;

ООО «Институт   горной  электротехники    и  автоматизации» изготовило оборудование для объекта: «Линии приготовления реагентов для ООО «ЕвроХим- Усольский калийный комбинат» (разработка конструкторской документации, изготовление оборудования с разработкой программного обеспечения);

ООО  «Институт   горной  электротехники    и  автоматизации» выполнило исследование сети 6-1 ЮкВ ОАО «Беларуськалий» для создания базы данных с выполнением расчетов токов короткого замыкания, разработало рекомендации по величине установок срабатывания релейной защиты сети, с обеспечением их селективной работы на основе специализированной компьютерной программы по расчету токов короткого замыкания в сети 6-10 кВ (с учетом их подпитки от работающих генераторов и синхронных электродвигателей);

ООО  «Институт   горной  электротехники    и  автоматизации» изготовил электрооборудование для объекта: Вакуум-кристаллизационная установка для кристаллизации калия хлористого на СОФ 4РУ ОАО «Беларуськалий»;

на строящемся Петриковском горно-обогатительном комбинате закончен монтаж и пуско-наладочные работы на двух шахтных подъемных клетьевых машинах 2Ц-6,5 х 2,8 ТД и ЦР-6хЗ,4/06-ТД поставляемых ООО «Институт горной электротехники и автоматизации»;

разработан алгоритм управления АСУТП по объекту «Оптимизация работоспособности процессов приготовления реагентов с последующей автоматизацией процессов приготовления реагентов на обогатительной фабрике Гремячинского ГОКа».

</p>

    </div>
  </div>
</main>>
    </div>
{% endblock %}
